

<style>
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

body {
    background: #fff;
	font-family: 'Roboto', sans-serif;
	color:#333;
	line-height: 22px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	color:#111;
	margin-top:5px;
	margin-bottom:5px;
}
h1, h2, h3 {
	text-transform:uppercase;
}

input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 12px;
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=1);
}

.form-inline .form-group{
    margin-left: 0;
    margin-right: 0;
}
.control-label {
    color:#333333;
}
</style>

	<div id="fh5co-page">

		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<aside id="fh5co-aside" role="complementary" class="border">

			<h1 id="fh5co-logo"><a href="/"><img src="images/logo-colored.png" alt="Free HTML5 Bootstrap Website Template"></a></h1>
      <nav id="fh5co-main-menu" role="navigation">
        <ul>
          <li><a href="/">Home</a></li>

          <li><a href="/services">Services</a></li>
          <li class="fh5co-active"><a style="cursor:pointer">Registration</a></li>
          <li><a href="/login">Login</a></li>

          <li><a href="/aboutus">About Us</a></li>
          <li><a href="/contactus">Contact Us</a></li>
        </ul>
      </nav>

			<div class="fh5co-footer">
				<p><small>&copy; 2016 Blend Free HTML5. All Rights Reserved.</span> <span>Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> </span> <span>Demo Images: <a href="http://pexels.com/" target="_blank">Pexels</a></span></small></p>
				<ul>
					<li><a href="#"><i class="icon-facebook"></i></a></li>
					<li><a href="#"><i class="icon-twitter"></i></a></li>
					<li><a href="#"><i class="icon-instagram"></i></a></li>
					<li><a href="#"><i class="icon-linkedin"></i></a></li>
				</ul>
			</div>

		</aside>

		<div id="fh5co-main">

			<div class="fh5co-narrow-content">
				<h1>Please Sign Up To get Start</h1>

			</div>
			<div class="container-fluid" class="container">
			    	<div class="table-responsive">


			             </div>
<div class="container">
	<table class="table table-responsive table-hover table-striped">

	<div class="row">
    <div class="col-md-8">
      <section>

        <hr>
            <form class="form-horizontal" method="post" action="/users/signup"  >
        <tr><td><div class="form-group">
          <label class="control-label col-sm-3">Email ID <span class="text-danger">*</span></label>
        <div class="col-md-8 col-sm-9">
              <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <input type="email" value="rameen@gmail.com" class="form-control" required name="email"   placeholder="Enter your Email ID">
            </div>
            <small> Your Email Id is being used for ensuring the security of your account, authorization and access recovery. </small> </div>
        </div></td></tr>

        <tr><td><div class="form-group">
          <label class="control-label col-sm-3">Set Password <span class="text-danger">*</span></label>
          <div class="col-md-5 col-sm-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" value="123" required class="form-control" name="password"  placeholder="Choose password (5-15 chars)" >
           </div>
          </div>
        </div></td></tr>
        <tr><td><div class="form-group">
          <label class="control-label col-sm-3">Confirm Password <span class="text-danger">*</span></label>
          <div class="col-md-5 col-sm-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" value="123" required class="form-control" name="cpassword"  placeholder="Confirm your password" >
            </div>
          </div>
        </div></td></tr>
        <tr><td><div class="form-group">
          <label class="control-label col-sm-3">Full Name <span class="text-danger">*</span></label>
          <div class="col-md-8 col-sm-9">
            <input type="text" class="form-control" required value="rameen" name="username"  placeholder="Enter your Name here" >
          </div>
        </div></td></tr>


        <tr><td><div class="form-group">
          <label class="control-label col-sm-3">Contact No. <span class="text-danger">*</span></label>
          <div class="col-md-5 col-sm-8">
          	<div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
            <input type="text" class="form-control" required value="123" name="contact"  placeholder="Enter your Primary contact no." >
            </div>
          </div>
        </div></td></tr>

         <tr><td><div class="form-group">
          <label class="control-label col-sm-3">Address <br>
          <small>(if any)</small></label>
          <div class="col-md-5 col-sm-8">
            <input type="text" class="form-control" required name="address" id="contactnum2" placeholder="Any other or Landline no (if any)" value="fash">
          </div>
        </div></td></tr>
        <tr><td><div class="form-group">
          <label class="control-label col-sm-3">City <br>
          <small>(if any)</small></label>
          <div class="col-md-5 col-sm-8">
            <input type="text" class="form-control" required name="city"  placeholder="Any other or Landline no (if any)" value="karachi">
          </div>
        </div></td></tr>
        <tr><td><div class="form-group">
          <label class="control-label col-sm-3">Country <br>
          <small>(if any)</small></label>
          <div class="col-md-5 col-sm-8">
            <input type="text" class="form-control" required name="country"  placeholder="Any other or Landline no (if any)" value="pakistan">
          </div>
        </div></td></tr>


      <tr><td>  <div class="form-group">
          <div class="col-xs-offset-3 col-md-8 col-sm-9"><span class="text-muted"><span class="label label-danger">Note:-</span> By clicking Sign Up, you agree to our <a href="#">Terms</a> and that you have read our <a href="#">Policy</a>, including our <a href="#">Cookie Use</a>.</span> </div>
        </div>
        <tr><td><div class="form-group">
          <div class="col-xs-offset-3 col-xs-10">
            <input name="Submit" type="submit" value="Sign Up" class="btn btn-primary">
          </div>
        </div><td></tr>
      </form>
    </div>
</div>
</div>




</table>

		</div>
	</div>
